.led {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    align-self: center;
}

.ledgrey {
    background-color: grey;
}

.ledred {
    background-color: red;
}

.ledgreen {
    background-color: lime;
}